<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Button in the Middle of the Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container-fluid d-flex justify-content-center align-items-center" style="height: 100vh">
        <form method="Get" action="admin">
            <button class="btn btn-primary btn-lg">To Dashboard</button>
        </form>
    </div>
  </body>
</html>
