<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Booking System</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
      <!-- Brand -->
      <a class="navbar-brand" href="#">Movie Booking System</a>
      <!-- Toggler/collapsible Button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Navbar links -->
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/movie">Movie</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/book">Booking</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
          </li>
        </ul>
      </div>
    </nav>
    
    <!-- Main content -->
    <div class="container mt-5">
      <div class="jumbotron">
        <h1>Welcome to our Movie Booking System!</h1>
        <p class="lead">Book your favorite movies online in just a few clicks.</p>
        <hr class="my-4">
        <p>Choose from a wide selection of movies and showtimes.</p>
        <form method="post" action="/movies-page">
          <button  class="btn btn-primary btn-lg" href="#" role="button">Browse Movies</button>
        </form>
        
      </div>
    </div>
    
    <!-- Footer -->
    <footer class="bg-dark text-white py-3 mt-5">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p class="mb-0">© 2023 Movie Booking System</p>
          </div>
          <div class="col-md-6 text-right">
            <p class="mb-0">Contact us: support@moviebookingsystem.com</p>
          </div>
        </div>
      </div>
    </footer>
    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
            integrity="sha384-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
